<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{{ package.author }}}">

    <title>{{ title }}</title>

    <link href="{{ assets }}/css/{{{ package.filenames.css }}}.css?v={{{ moment }}}" rel="stylesheet">
  </head>
  <body>

    {{> body }}

    <script data-main="{{ assets }}/js/base" src="{{ assets }}/js/libs/require.min.js"></script>
  </body>
</html>
