<!DOCTYPE html>
<html lang="en"{{#is '@@environment' 'development'}} class="dev"{{/is}}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{{ package.author }}}">

    <title>{{ title }}</title>

    <style>
      {{> critical-css}}
    </style>
    {{#is '@@environment' 'development'}}
      <link href="{{ assets }}/css/dev.css?v={{{ moment }}}" rel="stylesheet">
    {{else}}
      <link href="{{ assets }}/css/main.css?v={{{ moment }}}" rel="stylesheet">
    {{/is}}
  </head>
  <body>

    {{>header }}
    {{>body }}
    {{>footer }}

    <script data-main="{{ assets }}/js/base" id="script" src="{{ assets }}/js/libs/require.min.js"></script>
  </body>
</html>
